<h1>Service Conversor WCF</h1>

<form method="post">
    <label>Introduzca números</label>
    <input type="text" name="numeros" class="form-control"/>
    <button class="btn btn-warning">
        Mostrar Words
    </button>
</form>

<h2 style="color:blue">
    @ViewData["DATOS"]
</h2>