@model ServiceReferenceCoches.Coche[]

<h1>Coches Contract WCF</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Coche</th>
            <th>Imagen</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>@car.Marca @car.Modelo</td>
                <td>
                    <img src="@car.Imagen"
                    style="width: 150px; height: 150px"/>
                </td>
                <td>
                    <a asp-controller="Coches" asp-action="Details"
                        asp-route-idcoche="@car.IdCoche">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>